<div class="p-3">
  <h1 class="text-center h5 fw-bold p-1 text-white col-md-6 m-3 mx-auto">
    VIRTUOUS WOMAN 2026
  </h1>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card-container text-center">
        <input
          type="text"
          [(ngModel)]="guestName"
          placeholder="Type here Guest's Name (Max. 28 Characters)"
          maxlength="28"
          class="form-control text-center border-3 border-transparent"
        />

        <div id="card" class="card-preview position-relative my-3">
          <img
            src="card.png"
            alt="Card Background"
            class="card-background img-fluid"
          />
          <div class="card-text position-absolute">
            {{ formatName(guestName) }}
          </div>
        </div>

        <button class="btn btn-danger m-1" (click)="downloadAsPDF()">
          Download as PDF
        </button>
        <button class="btn btn-warning m-1" (click)="downloadAsImage()">
          Download as Image
        </button>
      </div>
    </div>
  </div>
</div>
